<footer class="pb-5 container">
    <div class="row">
        <div class="col-12 col-md-4 font13px py-2 py-md-0">
            <span id="currentYear"></span>
        </div>
        <div class="col-12 col-md-8">
            <ul class="list-inline text-left text-md-right mb-0">
                <li class="list-inline-item d-block d-md-inline-block">
                    <a class="font13px text-dark py-2 px-md-1" href="/">Home</a>
                    <a class="font13px text-dark py-2 px-md-1" href="/about.html">About</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
